<div class="ui menu">
    <div class="ui container">
        <div class="header item">
            <a href="/" style="color: black">FFC Pinterest clone</a>
        </div>
        <div class="right menu">
            <% if (authenticated){ %>
                <a class="item" href="/createNew">+</a>
                <a class="item" href="/user">Users</a>
                <a class="item" href="/myPosts">My Posts</a>
                <a class="item" href="/logout">Logout</a>
            <% }else{ %>
                <a class="item" href="/user">All Users</a>
                <a class="item" href="/auth/twitter">Twitter</a>
                <a class="item" href="/auth/google">Google</a>
                <a class="item" href="/auth/github">
                    <img src = "https://image.flaticon.com/icons/png/512/25/25231.png"></img>
                </a>
            <% } %>
        </div>
    </div>
</div>