<div class="ui menu">
    <div class="ui container">
        <div class="header item">
            <a href="/" style="color: black">FFC Pinterest clone</a>
        </div>
        <div class="right menu">
            <a class="item" href="/users">Users</a>
            <a class="item" href="/auth/twitter">Twitter</a>
            <a class="item" href="/auth/facebook">Facebook</a>
            <a class="item" href="/createNew">+</a>
            <a class="item" href="/myPosts">My Posts</a>
            <a class="item" href="/logout">Logout</a>
        </div>
    </div>
</div>