<div class="ui menu">
    <div class="ui container">
        <div class="header item">
            <a href="/" style="color: black">FFC Pinterest clone</a>
        </div>
        <div class="right menu">
            <% if (authenticated){ %>
                <a class="item">Hi <%= user %></a>
                <a class="item new">+</a>
                <a class="item" href="/user">Users</a>
                <a class="item" href="/myPosts">My Posts</a>
                <a class="item" href="/logout">Logout</a>
                <div class="ui modal">
                    <div class="header">
                        Create New Post
                    </div>
                    <div class="content">
                        <input id="link" class="add" placeholder="Image Link" required><br>
                        <input id="comment" class="add" placeholder="Comment">
                    </div>
                    <div class="actions">
                        <div class="ui basic blue button" id="create">
                            Create
                        </div>
                    </div>
                </div>
            <% }else{ %>
                <a class="item" href="/user">All Users</a>
                <a class="item" href="/auth/twitter">
                    <img src = "https://www.seeklogo.net/wp-content/uploads/2015/09/twitter-square-logo.png" style="width: 25px"></img>
                </a>
                <a class="item" href="/auth/google">
                    <img src = "http://www.idestudiodontoiatrici.it/wp-content/uploads/2015/01/GooglePlus_logo.png" style="width: 25px"></img>
                </a>
                <a class="item" href="/auth/github">
                    <img src = "https://image.flaticon.com/icons/png/512/25/25231.png" style="width: 25px"></img>
                </a>
            <% } %>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".new").on('click', function(){
            $('.ui.modal').modal('show');
        })
        $("#create").click( function(){
            if($("#link").val().length == 0){
                alert('Please enter a link for the image');
            }else{
                $.ajax({
                    url: '/createImage',
                    type: 'POST',
                    data: {
                        link: $("#link").val(),
                        comment: $("#comment").val()
                    },
                    success: function(result){
                        location.reload();
                    }
                });
            }
        })
    })
</script>