<div class="ui menu">
<div class="ui container">
    
        <div class="header item">
            <a href="/" style="color: black">
                <img src = "/favicon.ico" style="width: 25px"></img>
            </a>
            <a href="/" style="color: black; font-size: 25px;">
                PhotoManiac
            </a>
            
        </div>
        <div class="right menu">
            <% if (authenticated){ %>
                <a class="item">Hi <%= user %></a>
                <a class="item new">Add</a>
                <a class="item" href="/user">Users</a>
                <a class="item" href="/myPosts">My Posts</a>
                <a class="item" href="/logout">Logout</a>
                <div class="ui modal search">
                    <div class="header">
                        Create New Post
                    </div>
                    <div class="content">
                        <input id="link" class="add" placeholder="Image Link" value="" required><br>
                        <input id="comment" class="add" placeholder="Comment" value="">
                    </div>
                    <div class="actions">
                        <div class="ui basic blue button" id="create">
                            Create
                        </div>
                    </div>
                </div>
            <% }else{ %>
                <a class="item" href="/user">All Users</a>
                <a class="item" href="/auth/twitter">
                    <img src = "/twitter.png" style="width: 25px"></img>
                </a> <!--Images has to have the / before so the link would be directly /(image name)-->
                <a class="item" href="/auth/google">
                    <img src = "/google.png" style="width: 25px"></img>
                </a>
                <a class="item" href="/auth/github">
                    <img src = "/github.png" style="width: 25px"></img>
                </a>
            <% } %>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".new").on('click', function(){
            $('.ui.modal.search').modal('show');
        })
        $("#create").click( function(){
            if($("#link").val().length == 0){
                alert('Please enter a link for the image');
            }else{
                $.ajax({
                    url: '/createImage',
                    type: 'POST',
                    data: {
                        link: $("#link").val(),
                        comment: $("#comment").val()
                    },
                    success: function(result){
                        location.reload();
                    }
                });
            }
        })
    })
</script>